<section class="main-sections">

  <!-- 이달의 인기 도서 -->
  <section class="section-box">
    <h2>이달의 인기 도서</h2>
    <div class="book-list popular-books">
      <!-- 책 이미지 들어갈 자리 -->
    </div>
  </section>

  <!-- 추천 도서 -->
  <section class="section-box">
    <h2>추천 도서</h2>
    <div class="book-list recommended-books">
      <!-- 추천 도서 자리 -->
    </div>
  </section>

  <!-- 커뮤니티 -->
  <section class="section-box">
    <h2>커뮤니티</h2>
    <div class="community-reviews">
      <div class="review-box">최신 리뷰</div>
      <div class="review-box">최신 리뷰 2</div>
    </div>
  </section>

  <!-- 주변 도서관 정보 -->
  <section class="section-box">
    <h2>가까운 도서관</h2>
    <p>동대문구 답십리 도서관<br>강동 송파 시립도서관</p>
  </section>

  <!-- 도서관 이벤트 -->
  <section class="section-box">
    <h2>주변 도서관 이벤트</h2>
    <p>동대문구 답십리 도서관<br>책마음 하나되어 축제<br>5/5 13시 ~ 17시 30분</p>
  </section>

</section>

