body {
  background: #F6ECDD;
  font-family: 'Inter', sans-serif;
}

.signup-wrapper {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  margin: 0 auto;
  width: 222px;
  height: 100px;
  background: url('/mypage/images/bookmoaLogo.png') no-repeat center center;
  background-size: cover;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.form-group {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 80px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input {
  width: 80%;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-btn {
  display: block;
  margin: 40px auto 0;
  width: 100px;
  height: 50px;
  background: #FFC1A9;
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
}

.address-btn{
  display: block;
  margin: 40px auto 0;
  width: 70px;
  height: 30px;
  background: #FFC1A9;
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 10px;
  font-weight: bold;
}

.address-wrapper {
  display: flex;
  gap: 10px; 
  align-items: center;
}

.address-wrapper input {
  flex: 1; 
  padding: 15px;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.address-wrapper{
  width: 85%;
}

.address-wrapper .address-btn {
  margin: 0; 
  width: 70px;
  height: 50px;
  background: #FFC1A9;
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
}
